<?xml version="1.0"?>

<configuration>

    <connectionStrings>
        <add name="Nhom7 (1)ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\Fpoly\Desktop\synvph04346_nhom7_DTDM\synvph04346_nhom7_DTDM\data\Nhom7 (1).mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
